.no-scroll {
    overflow: hidden;
}

.page-splash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 250px;
}

.btn2 {
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
}

.btn3 {
    background-color: black;
    color: white;
    padding: 10px;
    /* margin-left: 900px;
    margin-top: 10px;
    margin-bottom: 20px; */
}

#commentForm {
    visibility: hidden;
}